<%include partials/nav%>
<main class="all_climbs">
<%favoriteClimbs.forEach(function(climb){ %>
<div class="climb_div text-center">
    <div id="<%=climb.user.username%>" class="climb_info <%=climb.grade.color%> <%=climb.style%>">
        <p>"<%=climb.name%>"</p>
        <p>Set By: <%=climb.user.username%></p>
        <p>Style: <%=climb.style%></p>
    </div>
    <div class="slide_info">
    <ul>
        <li><a href="/climb/<%=climb.id%>">view</li></a>
        <li><form action="/favorites" method="PUT"><input type="submit" name="favorite" value="favorite"></form></li>
        <li>log</li>
        <li>comments</li>
    </ul>
    </div>
    <img class="climb_img" src="<%=climb.imgur%>" alt="<%=climb.name%>">
</div>
<%});%>


</main>
